.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 140px;
}

.header a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    margin-left: 5px;
    padding: 10px 15px;
    border-radius: 6px;
}
.header a:hover{
    background-color: #ff9900;
}

.active{
    color: white;
    background-color: #ff9900;
}